{{!< cover }}
<h1 class="cover-heading">Nowall</h1>
<p class="lead">
  <em>The realtionship that you and your dog have is important.</em>
  As a dog ages their vitals and vision become a conern for the loving owner.
  Nowall is designed to help put that conern to rest.
</p>
<p class="lead">
  <a href="/features" class="btn btn-lg btn-default">Learn more</a>
</p>
