<div>
  <h1>How we help</h1>
  <div class="row">
    <div id="vision" class="col-md-6">
      <h3>Vision Aid</h3>
      <p class="essay">
        Using the famous theroy of Paslov we aim to help blind dogs navigate the world again.
        Dogs will be able to wear the Nowall Vest that will detect objects via ultra-sonic sensors.
        When they detect an object the Nowall Vest will produce a sound based on the placement of the object.
        As the dog is repeatedly exposed to the Nowall Vest he will pick up on the meaning behind the sounds, and there will be, <strong>No</strong>wall in his way.
      </p>
    </div>

    <div id="connect" class="col-md-6">
      <h3>Connectivity</h3>
      <p class="essay">
        You will be provided with a sense of mind when your dog is at home.
        Using our software you can use your browser or smart-phone to check on your dog's vitals.
        Is he warm? Is he calm? You'll know in seconds after you worry.
      </p>
    </div>
  </div>

  <div class="row">
    <div id="heart" class="col-md-6">
      <h3>Heartrate Monitor</h3>
      <p class="essay">
        The Nowall Vest monitors and records your dog's heart rate (in beats per minute).
        This information is made available for you online, 24/7, no matter where you are.
        Now you can make sure that your dog is not anxious or depressed while you're away.
      </p>
    </div>

    <div id="temp" class="col-md-6">
      <h3>Tempature Monitor</h3>
      <p class="essay">
        Ever wonder if you left the Air Conditioning too low, or high?
        With Nowall you can remotely check your dog's tempature (with historical charts) to ensure you're dog is comfortable while you're away.
      </p>
    </div>
  </div>

  <h1 class="centered">Promo Video</h1>
  <div class="col-md-12">
    <p class="centered">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/X7o11Bg57Y0" frameborder="0" allowfullscreen></iframe>
    </p>
  </div>
</div>
