# Long live Mac OS
.DS_Store

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Debug log from npm
npm-debug.log

# Starts dev env. Not yet an independent solution
run.sh

# vim!
.swp
