<h2>Hello {{new_user}}!</h2>

<p>
  A Nowall account has been setup for you by {{creator}}.
  Your password is {{password}}, you should probably change it at,
  <a href='{{settings_url}}'>the settings page.</a>
</p>
