<h2>Hello {{email}}</h2>

<p>
  We recieved a password reset for your email.
  If you requested this, you can reset your password <a href='{{url}}'>here.</a>
  The link will expire in {{hours}} hours.
</p>

<p>
  If you didn't request this password reset, no action is required and your password will remain the same.
</p>
