<div class="row">
  <div class="col-md-12">
    <h2>Your Dog</h2>
  </div>
  <div class="col-md-6">
    <h3>
      Temperature
      <small>
        from <input type="date" id="temp-from" value="2015-04-15" style="width: 70px; text-align: center; font-size: 13px; line-height: 13px;">
        to   <input type="date" id="temp-to"   value="2015-05-15" style="width: 70px; text-align: center; font-size: 13px; line-height: 13px;">
        <input class="btn btn-xs btn-info" type="submit" id="load-temp" value="reload">
      </small>
    </h3>
    <div id="temp-chart" style="width:100%; height:250px">&nbsp;</div>
  </div>
  <div class="col-md-6">
    <h3>
      Heart Rate
      <small>
        from <input type="date" id="heart-rate-from" value="2015-04-15" style="width: 70px; text-align: center; font-size: 13px; line-height: 13px;">
        to   <input type="date" id="heart-rate-to"   value="2015-05-15" style="width: 70px; text-align: center; font-size: 13px; line-height: 13px;">
        <input class="btn btn-xs btn-info" type="submit" id="load-heart-rate" value="reload">
      </small>
    </h3>
    <div id="heart-chart" style="width:100%; height:250px">&nbsp;</div>
  </div>
</div>

{{#ifAdmin user}}
<div class="row">
  <div class="col-md-12">
    <h2>Admin Controls</h2>
  </div>
  <div class="col-md-3">
    <h3>User Control</h3>
    <ul>
      <li>{{linkTo 'new_account' 'Create an Account'}}</li>
    </ul>
  </div>
{{/ifAdmin}}

{{#contentFor "javascript"}}
  <script src="/js/jquery.canvasjs.min.js"></script>

  <script>
    var tempPoints = [];
    var heartPoints = [];
    var dataLength = 500;

    var getDatapoints = function(sensor, start, end, callback) {
      start = start.getTime() / 1000;
      end = end.getTime() / 1000;
      var url = "/api/v1/sensors/get?sensor=" + sensor + "&start=" + start + "&end=" + end;
      $.ajax(url).done(callback);
    }

    var tempChart = new CanvasJS.Chart("temp-chart",{
      data: [{
        type: "line",
        color: "blue",
        dataPoints: tempPoints
      }]
    });

    var heartChart = new CanvasJS.Chart("heart-chart",{
      data: [{
        type: "line",
        color: "red",
        dataPoints: heartPoints
      }]
    });

    $("#load-heart-rate").click(function() {
      var start = new Date($("#heart-rate-from").val())
      var end = new Date($("#heart-rate-to").val())
      end.setHours(23)
      end.setMinutes(59)
      end.setSeconds(59)

      getDatapoints("heartrate", start, end, function(data) {
        heartPoints.length = 0;
        $.each(data, function(index, item) {
          heartPoints.push({x: new Date(item.time), y: item.value})
        });
        heartChart.render();
      });
    });

    $("#load-temp").click(function() {
      var start = new Date($("#temp-from").val())
      var end = new Date($("#temp-to").val())
      end.setHours(23)
      end.setMinutes(59)
      end.setSeconds(59)

      getDatapoints("temperature", start, end, function(data) {
        tempPoints.length = 0;
        $.each(data, function(index, item) {
          tempPoints.push({x: new Date(item.time), y: item.value})
        });
        tempChart.render();
      })
    });

    var today = new Date();
    var weekAgo = new Date(today - 1000*60*60*24*7)
    $("#heart-rate-to").val(today.toISOString().slice(0,10))
    $("#temp-to").val(today.toISOString().slice(0,10))
    $("#heart-rate-from").val(weekAgo.toISOString().slice(0,10))
    $("#temp-from").val(weekAgo.toISOString().slice(0,10))
    $("#load-heart-rate").click()
    $("#load-temp").click()
  </script>
{{/contentFor}}
