<div class="row">
  <div class="col-md-12">
    <h2>Your Dog</h2>
  </div>
  <div class="col-md-6">
    <h3>Temperature</h3>
    <div id="temp-chart" style="width:100%; height:250px">&nbsp;</div>
  </div>
  <div class="col-md-6">
    <h3>Heart Rate</h3>
    <div id="heart-chart" style="width:100%; height:250px">&nbsp;</div>
  </div>
</div>

{{#ifAdmin user}}
<div class="row">
  <div class="col-md-12">
    <h2>Admin Controls</h2>
  </div>
  <div class="col-md-3">
    <h3>User Control</h3>
    <ul>
      <li>{{linkTo 'new_account' 'Create an Account'}}</li>
    </ul>
  </div>
{{/ifAdmin}}

{{#contentFor "javascript"}}
<script src="/js/jquery.canvasjs.min.js"></script>
<script>
var dataLength = 500;
var tempPoints = [];
var heartPoints = [];

var tempChart = new CanvasJS.Chart("temp-chart",{
  data: [{
    type: "line",
    color: "blue",
    dataPoints: tempPoints
  }]
});

var heartChart = new CanvasJS.Chart("heart-chart",{
  data: [{
    type: "line",
    color: "red",
    dataPoints: heartPoints
  }]
});

// Setup inital points
for(var i = 0; i < 100; i++) {
  tempPoints[i] = {x: new Date(2012, i, 1), y: Math.floor(Math.random()*10) + 30}
  heartPoints[i] = {x: new Date(2012, i, 1), y: Math.floor(Math.random()*20) + 50}
}

tempChart.render();
heartChart.render();

</script>
{{/contentFor}}
