<div class="row">
  <div class="col-md-3">
    {{ user.email }}
  </div>
  <div class="col-md-6">
    <canvas id="myChart" width="600px" height="300px"></canvas>
  </div>
</div>

{{#ifAdmin user}}
Hello admin
{{/ifAdmin}}

{{#contentFor "javascript"}}
{{/contentFor}}
