<div class="row">
  <div class="col-md-6">
    Welcome back, {{ user.email }}.
  </div>
  <div class="col-md-6">
  </div>
</div>

{{#ifAdmin user}}
<div class="row">
  <div class="col-md-12">
    <h2>Admin Controls</h2>
  </div>
  <div class="col-md-3">
    <h3>User Control</h3>
    <ul>
      <li>{{linkTo 'new_account' 'Create an Account'}}</li>
    </ul>
  </div>
{{/ifAdmin}}

{{#contentFor "javascript"}}
{{/contentFor}}
