<div class="row">
  <div class="col-md-12">
    <h2>Your Dog</h2>
  </div>
  <div class="col-md-6">
    <h3>
      Temperature
      <small>
        from <input type="text" id="temp-from" value="2015-04-15" style="width: 70px; text-align: center; font-size: 13px; line-height: 13px;">
        to   <input type="text" id="temp-to"   value="2015-05-15" style="width: 70px; text-align: center; font-size: 13px; line-height: 13px;">
        <input class="btn btn-xs btn-info" type="submit" id="load-temp" value="reload">
      </small>
    </h3>
    <div id="temp-chart" style="width:100%; height:250px">&nbsp;</div>
  </div>
  <div class="col-md-6">
    <h3>
      Heart Rate
      <small>
        from <input type="text" id="heart-rate-from" value="2015-04-15" style="width: 70px; text-align: center; font-size: 13px; line-height: 13px;">
        to   <input type="text" id="heart-rate-to"   value="2015-05-15" style="width: 70px; text-align: center; font-size: 13px; line-height: 13px;">
        <input class="btn btn-xs btn-info" type="submit" id="load-heart-rate" value="reload">
      </small>
    </h3>
    <div id="heart-chart" style="width:100%; height:250px">&nbsp;</div>
  </div>
</div>

{{#ifAdmin user}}
<div class="row">
  <div class="col-md-12">
    <h2>Admin Controls</h2>
  </div>
  <div class="col-md-3">
    <h3>User Control</h3>
    <ul>
      <li>{{linkTo 'new_account' 'Create an Account'}}</li>
    </ul>
  </div>
{{/ifAdmin}}

{{#contentFor "javascript"}}
  <script src="/js/jquery.canvasjs.min.js"></script>

  <script>
  // TODO: lot of copy/paste between the two charts, combine functions?
    var tempPoints = [];
    var heartPoints = [];
    var dataLength = 500;
    var dataReloadIntervals = 10 * 1000;
    var heartRateRange = {};
    var tempRange = {};

    var getDatapoints = function(sensor, start, end, callback) {
      start = start.getTime() / 1000;
      end = end.getTime() / 1000;
      var url = "/api/v1/sensors/get?sensor=" + sensor + "&start=" + start + "&end=" + end;
      $.ajax(url).done(callback);
    }

    var tempChart = new CanvasJS.Chart("temp-chart",{
      data: [{
        type: "line",
        color: "blue",
        dataPoints: tempPoints
      }]
    });

    var heartChart = new CanvasJS.Chart("heart-chart",{
      data: [{
        type: "line",
        color: "red",
        dataPoints: heartPoints
      }]
    });

    var loadHeartRateRunner;
    var loadTempRunner;

    var loadHeartRateData = function() {
      getDatapoints("heartrate", heartRateRange.start, heartRateRange.end, function(data) {
        heartPoints.length = 0;
        $.each(data, function(index, item) {
          heartPoints.push({x: new Date(item.time), y: item.value})
        });
        heartChart.render();
      });
    };

    var loadTempData = function() {
      getDatapoints("temperature", tempRange.start, tempRange.end, function(data) {
        tempPoints.length = 0;
        $.each(data, function(index, item) {
          tempPoints.push({x: new Date(item.time), y: item.value})
        });
        tempChart.render();
      });
    };

    $("#load-heart-rate").click(function() {
      clearInterval(loadHeartRateData);

      var start = new Date($("#heart-rate-from").val());
      var end = new Date($("#heart-rate-to").val());
      end.setHours(23);
      end.setMinutes(59);
      end.setSeconds(59);
      heartRateRange.start = start;
      heartRateRange.end = end;
      loadHeartRateData();

      loadHeartRateRunner = setInterval(loadHeartRateData, dataReloadIntervals);
    });

    $("#load-temp").click(function() {
      clearInterval(loadTempData);

      var start = new Date($("#temp-from").val());
      var end = new Date($("#temp-to").val());
      end.setHours(23);
      end.setMinutes(59);
      end.setSeconds(59);
      tempRange.start = start;
      tempRange.end = end;
      loadTempData();

      loadHeartRateRunner = setInterval(loadTempData, dataReloadIntervals);
    });

    var today = new Date(new Date().getTime() + 1000*60*60*24);
    var before = new Date(today - 1000*60*60*24*1);

    $("#heart-rate-to").val(today.toISOString().slice(0,10))
    $("#temp-to").val(today.toISOString().slice(0,10))
    $("#heart-rate-from").val(before.toISOString().slice(0,10))
    $("#temp-from").val(before.toISOString().slice(0,10))

    $("#load-heart-rate").click()
    $("#load-temp").click()
  </script>
{{/contentFor}}
