<div class="row">
  <div class="col-md-12">
    <h2>Your Dog</h2>
  </div>
  <div class="col-md-6">
    <h3>Temperature <small>from April 15<sup>th</sup> to May 15<sup>th</sup></small></h3>
    <div id="temp-chart" style="width:100%; height:250px">&nbsp;</div>
  </div>
  <div class="col-md-6">
    <h3>Heart Rate <small>from April 15<sup>th</sup> to May 15<sup>th</sup></small></h3>
    <div id="heart-chart" style="width:100%; height:250px">&nbsp;</div>
  </div>
</div>

{{#ifAdmin user}}
<div class="row">
  <div class="col-md-12">
    <h2>Admin Controls</h2>
  </div>
  <div class="col-md-3">
    <h3>User Control</h3>
    <ul>
      <li>{{linkTo 'new_account' 'Create an Account'}}</li>
    </ul>
  </div>
{{/ifAdmin}}

{{#contentFor "javascript"}}
  <script src="/js/jquery.canvasjs.min.js"></script>

  <script>
    var tempPoints = [];
    var heartPoints = [];
    var dataLength = 500;

    var getDatapoints = function(sensor, start, end, callback) {
      start = start.getTime() / 1000;
      end = end.getTime() / 1000;
      var url = "/api/v1/sensors/get?sensor=" + sensor + "&start=" + start + "&end=" + end;
      $.ajax(url).done(callback);
    }

    var tempChart = new CanvasJS.Chart("temp-chart",{
      data: [{
        type: "line",
        color: "blue",
        dataPoints: tempPoints
      }]
    });

    var heartChart = new CanvasJS.Chart("heart-chart",{
      data: [{
        type: "line",
        color: "red",
        dataPoints: heartPoints
      }]
    });

    getDatapoints("heartrate", new Date(2015, 03, 15), new Date(2015, 04, 15), function(data) {
      $.each(data, function(index, item) {
        heartPoints.push({x: new Date(item.time), y: item.value})
      });
      heartChart.render();
    });

    getDatapoints("temperature", new Date(2015, 03, 15), new Date(2015, 04, 15), function(data) {
      $.each(data, function(index, item) {
        tempPoints.push({x: new Date(item.time), y: item.value})
      });
      tempChart.render();
    });
  </script>
{{/contentFor}}
